In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("../../data/Training.xlsx")

## Attempt Cleaning

In [4]:
# columns to be modified


# todo: remove all "contact" and use _

to_be_deleted = [
    "Big Employer/School Census Block Group", "Big Enrollment: Created Date", "Big Acceptance Date",
    "Big Contact: Created Date","Big Days Acceptance to Match", "Big Days Interview to Acceptance","Big Days Interview to Match",
    "Big Contact: Preferred Communication Type", "Big Assessment Uploaded", "Match Activation Date", "Big Enrollment: Created Date",
    "Big Employer", "Big Employer/School Census Block Group", "Big Approved Date", "Big Home Census Block Group",

    "Big ID", "Little ID", "Stage", "Closure Reason", "Closure Details", "Match Closure Meeting Date", "Big Assessment Uploaded", 
    "Little Mailing Address Census Block Group", "Little Interview Date", "Little Acceptance Date", "Little Application Received", "Little Moved to RTBM in MF",
    "Little RTBM Date in MF", "Little RTBM in Matchforce", "Little Moved to RTBM in MF", "Little Interview Date", "Little Acceptance Date", "Little RTBM in Matchforce",

]

yes_no = [
    "Big Open to Cross-Gender Match", "Big Re-Enroll", "Big Contact: Marital Status", "Big Gender", "Big Military", "Big Car Access",
    "Big Contact: Former Big/Little", 
]

In [5]:
df.drop(to_be_deleted, axis=1, inplace=True)

In [6]:
df.shape

(39345, 42)

In [7]:
df.columns

Index(['Match ID 18Char', 'Completion Date', 'Match Support Contact Notes',
       'Big County', 'Big Age', 'Big Occupation', 'Big: Military',
       'Big Level of Education', 'Big Languages', 'Big Gender',
       'Big Birthdate', 'Program', 'Program Type', 'Big Race/Ethnicity',
       'Rationale for Match', 'Big Enrollment: Record Type', 'Big Car Access',
       'Big Open to Cross-Gender Match', 'Big Re-Enroll',
       'Big Contact: Former Big/Little',
       'Big Contact: Interest Finder - Sports',
       'Big Contact: Interest Finder - Places To Go',
       'Big Contact: Interest Finder - Hobbies',
       'Big Contact: Interest Finder - Entertainment',
       'Big Contact: Volunteer Availability', 'Big Contact: Marital Status',
       'Little Contact: Language(s) Spoken',
       'Little Contact: Interest Finder - Sports',
       'Little Contact: Interest Finder - Outdoors',
       'Little Contact: Interest Finder - Arts',
       'Little Contact: Interest Finder - Places To Go',
       'Little Contact: Interest Finder - Hobbies',
       'Little Contact: Interest Finder - Entertainment',
       'Little Contact: Interest Finder - Other Interests',
       'Little Other Interests', 'Little Contact: Interest Finder - Career',
       'Little Contact: Interest Finder - Personality',
       'Little Contact: Interest Finder - Three Wishes', 'Little Gender',
       'Little Participant: Race/Ethnicity', 'Little Birthdate',
       'Match Length'],
      dtype='object')

In [8]:
# convert all column to lower case
df.columns = [
    x.lower().\
        replace("contact: ", "").\
        replace("finder - ", "").\
        replace(" ", "_")
    for x in df.columns]
df.columns

Index(['match_id_18char', 'completion_date', 'match_support_contact_notes',
       'big_county', 'big_age', 'big_occupation', 'big:_military',
       'big_level_of_education', 'big_languages', 'big_gender',
       'big_birthdate', 'program', 'program_type', 'big_race/ethnicity',
       'rationale_for_match', 'big_enrollment:_record_type', 'big_car_access',
       'big_open_to_cross-gender_match', 'big_re-enroll',
       'big_former_big/little', 'big_interest_sports',
       'big_interest_places_to_go', 'big_interest_hobbies',
       'big_interest_entertainment', 'big_volunteer_availability',
       'big_marital_status', 'little_language(s)_spoken',
       'little_interest_sports', 'little_interest_outdoors',
       'little_interest_arts', 'little_interest_places_to_go',
       'little_interest_hobbies', 'little_interest_entertainment',
       'little_interest_other_interests', 'little_other_interests',
       'little_interest_career', 'little_interest_personality',
       'little_interest_three_wishes', 'little_gender',
       'little_participant:_race/ethnicity', 'little_birthdate',
       'match_length'],
      dtype='object')

In [9]:
rename_dic = {
    "match_id_18char" : "match_id",
    "match_support_contact_notes": "contact_notes",
    "big:_military": "big_military",
    "little_interest_other_interests": "little_other_interest",
    "little_participant:_race/ethnicity": "little_participant_race/ethnicity",
    "big_re-enroll": "big_re_enroll"

}
df.rename(rename_dic, inplace=True, axis=1)
df

,match_id,completion_date,contact_notes,big_county,big_age,big_occupation,big_military,big_level_of_education,big_languages,big_gender,...,little_interest_entertainment,little_other_interest,little_other_interests,little_interest_career,little_interest_personality,little_interest_three_wishes,little_gender,little_participant_race/ethnicity,little_birthdate,match_length
0,a1v2J0000028pRvQAI,2017-11-30,Question: Activities: Answer: See ms...,Hennepin,40,Unemployed,NaN,Masters Degree,No Preference,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Female,Black or African American,2004-01-01,9.0
1,a1v2J0000028pRvQAI,2017-10-31,Question: Activities: Answer: See MS...,Hennepin,40,Unemployed,NaN,Masters Degree,No Preference,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Female,Black or African American,2004-01-01,9.0
2,a1v2J0000028pRvQAI,2017-12-01,Question: Activities: Answer: Match ...,Hennepin,40,Unemployed,NaN,Masters Degree,No Preference,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Female,Black or African American,2004-01-01,9.0
3,a1v2J0000028pRvQAI,2017-05-29,Question: Activities: Answer: Msc as...,Hennepin,40,Unemployed,NaN,Masters Degree,No Preference,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Female,Black or African American,2004-01-01,9.0
4,a1v2J0000028pRvQAI,2017-04-30,Question: Activities: Answer: Msc as...,Hennepin,40,Unemployed,NaN,Masters Degree,No Preference,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Female,Black or African American,2004-01-01,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39340,a1vUX000001PyJlYAK,2025-02-13,PC and BB completed match support contact in p...,Hennepin,33,Consultant,No,NaN,NaN,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,Male,Black or African American,2014-09-01,3.2
39341,a1vUX000001PyJlYAK,2025-01-15,PC and BB completed match support contact via ...,Hennepin,33,Consultant,No,NaN,NaN,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,Male,Black or African American,2014-09-01,3.2
39342,a1vUX000001PyJlYAK,2024-12-19,PC and BB completed introduction match support...,Hennepin,33,Consultant,No,NaN,NaN,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,Male,Black or African American,2014-09-01,3.2
39343,a1vUX000001UAe5YAG,2025-02-07,PC and BB completed match support contact via ...,Hennepin,22,Business: Sales,No,NaN,NaN,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,Male,Black or African American,2011-04-01,3.2
39344,a1vUX000001UAe5YAG,2024-12-10,PC and BB completed introduction match support...,Hennepin,22,Business: Sales,No,NaN,NaN,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,Male,Black or African American,2011-04-01,3.2

In [14]:
df["little_interest_career"].value_counts()

little_interest_career
I?d want to animate when I grow up                                                                                        53
I want to be a teacher.                                                                                                   37
An artist and baker. I want to make everything chocolate at my bakery and sell my art there.                              37
A policeman                                                                                                               34
Cook or an Educator                                                                                                       33
Be a famous stepper.                                                                                                      32
Not sure. Go to a casino.                                                                                                 30
Be either an actor, movie director, police officer, archeologist like Indiana Jones, maybe a teacher if I get smarter.    30
I would like to be a nurse or a doctor.                                                                                   30
To be a Youtuber.                                                                                                         29
A dentist.                                                                                                                29
M wants to "be a Gymnast" when she grows up                                                                               28
A Dentist                                                                                                                 27
Be a teacher.                                                                                                             26
Veterinarian                                                                                                              25
Police officer nill                                                                                                       25
Make lots of money                                                                                                        23
"I would like to be a baby sitter!"                                                                                       22
Not sure                                                                                                                  21
A professional hockey or soccer player                                                                                    21
A dentist ,teacher, actress                                                                                               21
L_first_name goes back and forth between being a firemen, cop or vet                                                      20
Be a basketball player                                                                                                    19
I don't know yet.                                                                                                         19
Play football and dance and a entertainer                                                                                 18
Policemen firemen                                                                                                         16
Wants to be a veterinarian                                                                                                14
Be a doctor.                                                                                                              13
Be in the army or be a rapper.                                                                                            13
Archaeologist                                                                                                             13
Be a youtuber.                                                                                                            13
Haven't decided yet                                                                                                       12
Be a police officer.                                                                                                      12
Surf and skateboard                                                                                                       12
I would like to a firefighter                                                                                             11
I would like to be basketball player                                                                                       8
Video game designer.                                                                                                       8
Help my grandma, my mom, my brother. Help homeless people                                                                  8
I would like to be a police officers i would like to be a doctor i would like to be and actress                            8
Mechanic                                                                                                                   7
be a football player                                                                                                       5
Name: count, dtype: int64

In [15]:
df.dtypes

match_id                                     object
completion_date                      datetime64[ns]
contact_notes                                object
big_county                                   object
big_age                                       int64
big_occupation                               object
big_military                                 object
big_level_of_education                       object
big_languages                                object
big_gender                                   object
big_birthdate                        datetime64[ns]
program                                      object
program_type                                 object
big_race/ethnicity                           object
rationale_for_match                          object
big_enrollment:_record_type                  object
big_car_access                               object
big_open_to_cross-gender_match               object
big_re_enroll                               float64
big_former_big/little                        object
big_interest_sports                          object
big_interest_places_to_go                    object
big_interest_hobbies                         object
big_interest_entertainment                   object
big_volunteer_availability                   object
big_marital_status                           object
little_language(s)_spoken                    object
little_interest_sports                       object
little_interest_outdoors                     object
little_interest_arts                         object
little_interest_places_to_go                 object
little_interest_hobbies                      object
little_interest_entertainment                object
little_other_interest                        object
little_other_interests                       object
little_interest_career                       object
little_interest_personality                  object
little_interest_three_wishes                 object
little_gender                                object
little_participant_race/ethnicity            object
little_birthdate                     datetime64[ns]
match_length                                float64
dtype: object

In [11]:
df.to_csv("../../data/interim/interim_data.csv", index=False)